<%include header %>
		<h1> Dividends </h1>
		<% if(dividends){ %>
			<ui
						<% dividends.forEach(function(dividend){ %>
				<% dividend.forEach(function(divi){ %>
					<li> <%= divi.product %> : <%= divi.winningSelections %> : $<%= divi.amount %></li>
				<% }) %>
			<% }) %>	
			</ui>
		<% } %>
		<br><br>
		<form method="GET" action="/races/<%= raceId %>""> 
			<input type="submit" value="Back to main page">
		</form>
<%include footer %>	