<%include header %>
		<h1><%= title %></h1>
		<%= errors%>
		<br><br>
		<form method="GET" action="/races/<%= raceId %>"> 
			<input type="submit" value="Back to main page">
		</form>
<%include footer %>	