<%include header %>
		<h1> Race - <%= raceId %></h1>
		<form method="GET" action="/races/<%= raceId %>/bets">
			<input type="submit" value="Start Betting"> 
		</form>
		<form method="GET" action="/races/<%= raceId %>/dividends"> 
			<input type="submit" value="Show Dividend">
		</form>
		<form method="GET" action="/"> 
			<input type="submit" value="Back to Home page">
		</form>
<%include footer %>	