<%include header %>
		<h1> Results </h1>
		<% if(errors != undefined){ %>
			<ui>
			<% errors.forEach(function(error){ %>
				<li> <%= error %></li>
			<% }) %>
			</ui>
		<% } %>
		<form method="POST" action="/races/<%= raceId %>/results">
			<label> First Ranker </label><br>
			<input	type = "text" name ="first"><br>

			<label> Second Ranker</label><br>
			<input	type = "text" name ="second"><br>

			<label> Third Ranker</label><br>
			<input	type = "text" name ="third"><br><br>

			<input type="submit" value="Submit">
		</form><br><br>
		<form method="GET" action="/races/<%= raceId %>/"> 
			<input type="submit" value="Back to main page">
		</form>
<%include footer %>	