<%include header %>
		<h1><%= title %></h1>
		<form method="POST" action="/result">
			<label> First </label><br>
			<input	type = "text" name ="first"><br>

			<label> Second </label><br>
			<input	type = "text" name ="second"><br>

			<label> Third </label><br>
			<input	type = "text" name ="third"><br><br>

			<input type="submit" value="Submit">
		</form>
<%include footer %>	